* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  min-height: 100vh;
  font-weight: 300;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
p {
  color: var(--color-primary);
}
/*===============*/
/*=======header========*/
/*===============*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 1px solid lightgray; */
  padding: 2rem 2rem;
  /* width: 80%; */
  margin: 0 auto;
  gap: 2rem;
  background-color: color-mix(in srgb, black 2%, white);
}

.main-nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
  color: var(--color-primary);
}
.invite-button {
  border-radius: 999px;
  padding: 0.5rem 1.75rem;
  border: none;
  background: linear-gradient(45deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
  color: white;
}

/*===============*/
/*=======hero========*/
/*===============*/
.hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: color-mix(in srgb, black 4%, white);
  background-image: url("/images/bg-intro-desktop.svg");
  background-position: top -340px right -620px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  padding-left: 6rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  gap: 2rem;
  padding-right: 9rem;
}
.hero-content h1 {
  line-height: 4rem;
}
.hero-content p {
  line-height: 2rem;
  color: var(--color-primary);
}
.hero-visuals {
  position: relative;
}
.hero-visuals img {
  position: absolute;
  width: 100%;
  height: 950px;
  object-fit: cover;
  object-position: 150px -185px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}

/*===============*/
/*=======mid section (why choose digital bank)========*/
/*===============*/
.choosing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6rem;
  gap: 2rem;
  background-color: color-mix(in srgb, black 6%, white);
}
.why {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 650px;
  line-height: 2rem;
}
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 4.5rem;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
/*===============*/
/*=======latest articles========*/
/*===============*/
.latest {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem;
  background-color: color-mix(in srgb, black 2%, white);
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}
.article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
}
.article img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.author {
  font-size: 0.8rem;
  padding: 1rem 1.75rem 0.5rem 1.75rem;
  color: var(--color-primary);
}
.content {
  padding: 0.5rem 1.75rem 1rem 1.75rem;
  line-height: 1.25rem;
}
.content p {
  font-size: 1rem;
  font-weight: 400;
}
/*===============*/
/*=======footer========*/
/*===============*/
.footer {
  background-color: #2e324f;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  gap: 1rem;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.footer-nav {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 1rem;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.footer-copy {
  font-size: 0.8rem;
}
